@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1716225779948-95f1b918c640?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #000;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 420px;
  height: 100%;
  background-image: linear-gradient(to top, #fff 0%, #fff 100%, #fff 100%);
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.fa-star:hover {
  color: #cd2222;

}

.card {
  width: 443px;
  border-radius: 15px;
  padding: 40px 25px;
}

.card .ciwan {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #e21111;
}

.author {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-bottom: 10px;
}

.buttons .new-qoute {
  background: blue;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

.buttons .new-qoute:hover {
  color: #fff;
  background: transparent;
  border: 2px solid rgb(6, 228, 50);
  box-shadow: 2px 2px 2px 2px rgb(6, 228, 50);
  background: rgb(4, 58, 15);
}

.buttons .Back:hover {
  background: transparent;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  border: 2px solid rgb(6, 228, 50);
  box-shadow: 2px 2px 2px 2px rgb(6, 228, 50);
  background: rgb(4, 58, 15);
}


.buttons .Back {
  background: blue;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

.buttons i {
  font-size: 20px;
  color: #fff;
  background: #000;
  padding: 10px 10px;
  border: 1px solid blue;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons i:hover {
  color: #fff;
  background: transparent;
  border: 2px solid rgb(6, 228, 50);
  box-shadow: 2px 2px 2px 2px rgb(6, 228, 50);
  background: rgb(4, 58, 15);

}

.qoute-text .d {
  display: flex;
  justify-content: end;
  font-size: 12px;
  color: red;
  font-weight: 700;
  margin-top: 10px;
}

#author-text {
  float: right;
  font-size: 11px;
  color: red;
  font-weight: 700;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    height: 100%;
  }

  .qoute-text {
    font-size: 20px;
    width: 100%;
    height: 100%;
    font-weight: 300;
  }

  .container {
    width: 80%;
    height: 60%;
    justify-content: center;
    align-items: center;
    background: #e2e2e2;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container h1 {
    margin-top: 30px;
    color: #cd2222;
    width: 100%;
    font-size: 10px;
  }

  .author {
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
    margin-top: 20px;
    align-items: center;
    width: 400px;
  }

  .author-text {
    display: hidden;
  }

  .buttons {
    display: flex;
    justify-content: start;
    gap: 10px;
  }
}

@media (max-width: 458px) {
  .card {
    width: 100%;
    height: 100%;
  }

  .container {
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #e2e2e2;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .container h1 {
    margin-top: 30px;
    color: #fff;
    width: 100%;
    font-size: 10px;
  }

  .author {
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
    margin-top: 20px;
    align-items: center;
    width: 400px;
  }

  .author-text {
    display: flex;
    margin-right: 20px;
    font-size: 30px;
    font-weight: 500;
  }

  .buttons {
    display: flex;
    justify-content: start;
    gap: 10px;
    width: 100%;
  }
}
